@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla.ttf');
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

#root {
  height: 100vh;
}
