@import '../../variables';

$teamWidth: 50%;
$teamHeight: 50%;
$textHeight: 70vh;

.root {
  background-color: $danger;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.teamRocketPng {
  position: absolute;
  width: $teamWidth;
  height: $teamHeight;
  top: calc(calc(100% - #{$teamHeight}) / 4);
  left: calc(calc(100% - #{$teamWidth}) / 2);
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notFoundText {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: $textHeight;
  line-height: $textHeight;
  display: flex;
  align-items: center;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.5);
}

.text {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  z-index: 1;
}

.whiteText {
  color: white;
}

.button {
  $width: 250px;

  position: absolute;
  width: $width;
  top: calc(calc(calc(100% - #{$teamHeight}) / 2) + #{$teamHeight + 5});
  left: calc(calc(calc(calc(100% - #{$teamWidth}) / 2) + #{$teamWidth / 2}) - #{$width / 2});
}
